@media only screen and (max-width: 768px) {

    .contenedor-hero i {
        font-size: 1.9em;
    }

    .contenedor-hero h1 {
        font-size: 2.2em;
    }

    .info-modal {
        width: 100%;
    }

    .profesion {
        /* background-color: black; */
        width: 100%;
        font-size: 1.9em;
        text-align: center;
        padding: 10px 0;
    }

    .mail,
    .tel {
        display: flex;
        align-items: center;
        padding-left: 0;
    }

    .mail i,
    .tel i {
        font-size: 3em;
        margin-right: .35em;
    }

    .mail span,
    .tel span {
        font-size: 1.3em;
    }

    main.principal {
        position: static;
    }

    .java,
    .code {
        display: none;
    }

    div.segundo-nivel {
        flex: 100%;
    }

    div.segundo-nivel .titulo h2 {
        margin: 1em 0;
    }

    div.segundo-nivel-two:last-of-type,
    .segundo-nivel {
        flex: 100%;
    }

    .o2 {
        order: 2;
    }

    .o1 {
        order: 1;
    }

    .js {
        margin-top: 1em;
    }

    .by {
        display: block;
        text-align: center;
    }

    .container-im {
        flex-direction: column;
    }

    .info-im {
        order: 2;
        border-right: none;
    }

    .info-desc {
        margin-top: 2em;
    }

    .info-desc p {
        line-height: 25px;
    }

    .icons {
        flex-direction: column;
    }

    .icons i,
    .icons p {
        display: block;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    .icons i {
        font-size: 4em;
        margin-bottom: .4em;
    }

    .icons p {
        font-size: 1.7em;
    }

    .info-foto {
        padding: 2em;
    }

    .site-header nav a:hover {
        transition: all 1s;
        background-color: white;
        color: black;
    }
}