@media only screen and (max-width: 768px) {

    .contenedor-hero i {
        font-size: 1.9em;
    }

    .contenedor-hero h1 {
        font-size: 2.2em;
    }

    .info-modal {
        width: 100%;
    }

    .profesion {
        /* background-color: black; */
        width: 100%;
        font-size: 1.9em;
        text-align: center;
        padding: 10px 0;
    }

    .mail,
    .tel {
        display: flex;
        align-items: center;
        padding-left: 0;
    }

    .mail i,
    .tel i {
        font-size: 3em;
        margin-right: .35em;
    }

    .mail span,
    .tel span {
        font-size: 1.3em;
    }

    main.principal {
        position: static;
    }

    .java,
    .code {
        display: none;
    }

    div.segundo-nivel {
        flex: 100%;
    }

    div.segundo-nivel .titulo h2 {
        margin: 1em 0;
    }

    div.segundo-nivel-two:last-of-type,
    .segundo-nivel {
        flex: 100%;
    }

    .o2 {
        order: 2;
    }

    .o1 {
        order: 1;
    }

    .js {
        margin-top: 1em;
    }

    .by {
        display: block;
        text-align: center;
    }

    .inferior {
        background-color: #0097a7;
        width: 100%;
        height: 14.6em;
        padding: 0 10px;
        font-size: 1.2em;
    }

    .foto {
        bottom: 57%;
        left: 33.5%;
        height: 8.5em;
        width: 8.5em;
    }

    .info-personal {
        padding: 5.5em 0 0 0;
        text-align: center;
        font-size: 1em;
    }
}

@media only screen and (max-width: 350px) {
    .foto {
        bottom: 37%;
        left: 31.5%;
    }
}